<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Data Plot</title>
</head>
<script>
    <!--
    function timedRefresh(timeoutPeriod) {
        setTimeout("location.reload(true);",timeoutPeriod);
    }
    
    window.onload = timedRefresh(30000);
    
    //   -->
    </script>

<h1>WSN mini-project Visualization</h1>
<h6>This site will automatically update every 30 seconds to show the latest plots</h6>
<body>
    
    <img src="{{ url_for('static', filename='images/plot_temp.png') }}" class="image" />
    <img src="{{ url_for('static', filename='images/plot_hum.png') }}" class="image" />
    <img src="{{ url_for('static', filename='images/plot_solar.png') }}" class="image" />
    <img src="{{ url_for('static', filename='images/plot_photo.png') }}" class="image" />
</body>
</html>
